@using OdevDagitimPortali.ViewModels
@model List<AssignmentModel>
﻿@{
    ViewData["title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section CardHeader {
    <span>Odevler</span>
}

<a asp-action="Add" asp-controller="Assignment" class="btn btn-primary btn-sm mb-2">Ekle</a>
<table class="table">
    <thead>
        <tr>
            <th>Görev</th>
            <th>Son Tarih</th>
            <th>Oluşturulma Tarihi</th>
            <th>Ekleyen Kullanıcı</th>
            <!--<th>Role</th>-->
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="5">Henüz bir ödev verilmedi.</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.title</td>
                    <td>@item.deadline</td>
                    <td>@item.create_date</td>
                    <td>@item.CreatedBy</td> <!-- Ekleyen kullanıcı -->
                    <!--<td>@item.role</td>-->
                    <td>
                        <a asp-action="Update" asp-route-id="@item.assignment_id" class="btn btn-primary btn-sm">Düzenle</a>
                        <a asp-action="Delete" asp-route-id="@item.assignment_id" class="btn btn-danger btn-sm">Sil</a>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>
