@using OdevDagitimPortali.ViewModels
@model List<SubmissionModel>
@{
    ViewData["title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@section CardHeader {
    <span>Ödevler</span>
}

    <thead>
        <tr>
            <th>Ödev Id</th>
            <th>Öğrenci No</th>
            <th>Ödevin Gönderiliş Tarihi</th>
            <th>Ödev Dosya</th>
        </tr>
    </thead>
    <tbody>
        @if (Model == null || !Model.Any())
        {
            <tr>
                <td colspan="4">@ViewBag.Message</td>
            </tr>
        }
        else
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.assignment_ID</td>
                    <td>@item.user_ID</td>
                    <td>@item.submission_date</td>
                    <td>
                        @if (item.FileUploadId != 0) // Dosya yüklendiyse
                        {
                            <a asp-action="Download" asp-controller="Submission" asp-route-id="@item.FileUploadId" class="btn btn-sm btn-success">İndir</a>
                        }
                        else
                        {
                            <span>Dosya yok</span>
                        }
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
